

	$color-white:		rgb(255,255,255);
	$color-gray-light:	rgb(243,243,243);
	$color-gray:		rgb(204,204,204);
	$color-gray-dark:	rgb(68,68,68);
	$color-black:		rgb(51,51,51);
	$color-red:			rgb(255,92,3);
	$color-orange:		rgb(255,102,0);
	$color-purple:		rgb(87,107,148);
	$color-green:		rgb(51,153,63);

	$color-google:		rgb(221,75,57);
	$color-facebook:	rgb(59,89,152);
	$color-twitter:		rgb(85,172,238);

	$font-size-base:		16px;
	$font-lineheight-base:	22px;

	$font-size-smaller:		12px;
	$font-size-small:		15px;
	$font-size-large:		20px;

	$padding:		30px;
	$margin:		$padding;

	$animation-speed:		.1s;

	$screen-size-small:		480px;
	$screen-size-medium:	768px;
	$screen-size-large:		1024px;